{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span>Songothek</h1>
                <img src="{{ asset('igge.jpg') }}" id="pic" title="1977">
                My personal collection of almost every song, finished or unfinished, recorded over all those years ago..<br>
                have fun ;)<br>
                Rich
            </div>

            <div id="status">

                <form method="post">

                    <input type="text" name="pattern" value="{{ pattern }}" placeholder="title">
                    <br>
                    <select name="year">
                        <option value="0">year</option>
                        {% for year in years %}
                            <option value="{{ year.year }}"{% if (selectedYear == year.year) %} selected="selected" {% endif %}>{{ year.year }}</option>
                        {% endfor %}
                    </select>
                    <select name="lang">
                        <option value="0">language</option>
                        <option value="en"{% if (selectedLang == "en") %} selected="selected" {% endif %}>english
                        </option>
                        <option value="de"{% if (selectedLang == "de") %} selected="selected" {% endif %}>deutsch
                        </option>
                    </select>
                    <select name="band">
                        <option value="0">band</option>
                        {% for band in bands %}
                            <option value="{{ band.band }}"{% if (selectedBand == band.band) %} selected="selected" {% endif %}>{{ band.band }}</option>
                        {% endfor %}
                    </select>
                    <select name="recording">
                        <option value="0">recording</option>
                        <option value="1"{% if (selectedRecording == "1") %} selected="selected" {% endif %}>rough
                        </option>
                        <option value="2"{% if (selectedRecording == "2") %} selected="selected" {% endif %}>demo
                        </option>
                        <option value="3"{% if (selectedRecording == "3") %} selected="selected" {% endif %}>studio
                        </option>
                        <option value="4"{% if (selectedRecording == "4") %} selected="selected" {% endif %}>live
                        </option>
                    </select><br>
                    <input type="submit" value="search"> <input type="button" id="reset" value="reset">
                </form>
            </div>

            {% if (loggedIn) %}
                <!-- Admin-Section -->

                create new one:
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

                <button id="logout" onclick="document.location.href='/logout'">logout</button>
                <p>&nbsp;</p>

            {% endif %}

            <p>
                {% for song in songs %}

                    {% if (file_exists(mp3_dir_absolute~'/'~song.mp3)) %}

                        <code class="title">
                            {{ song.title }}
                        </code>
                        <audio preload="none">
                            <source src="{{ mp3_dir }}/{{ song.mp3 }}" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>
                        <span class="infos"><br>
                            {{ song.year }}<br>

                            {% if (song.publisher) %}
                                publisher: {{ song.publisher }}<br>
                            {% endif %}

                            {% if (song.label) %}
                                label: {{ song.label }}<br>
                            {% endif %}

                            {% if (song.band) %}
                                band: {{ song.band }}<br>
                            {% endif %}

                            {% if (song.album) %}
                                album: {{ song.album }}<br>
                            {% endif %}

                            {% if (song.comment) %}
                                other version: {{ song.comment }}<br>
                            {% endif %}

                            {% if song.recording == constant('RECORDING_ROUGH', song)%}
                                recording: rough<br>
                            {% elseif song.recording == constant('RECORDING_DEMO', song)%}
                                recording: demo<br>
                            {% elseif song.recording == constant('RECORDING_STUDIO', song)%}
                                recording: studio<br>
                            {% elseif song.recording == constant('RECORDING_LIVE', song)%}
                                recording: live<br>
                            {% endif %}

                            {% if (song.authors != 'R.Putz') %}
                                co-authors: {{ str_replace('/R.Putz', '', song.authors) }}<br>
                            {% endif %}

                            gema: {{ song.gema ? 'yes' : 'no' }}

                        </span><br>
                    {% endif %}
                {% endfor %}
                {{ number }} results
            </p>



            {% if (app.environment == 'dev') %}

                {% for song in songsWithoutMp3 %}

                    <div>
                        <form method="post" enctype="multipart/form-data">
                            <code>
                                {{ song.title }} <br>
                            </code>
                            <input type="hidden" name="id" value="{{ song.id }}">
                            <input type="file" name="mp3"><br>
                            band: <input type="text" maxlength="25" size="25" name="band"><br>
                            year: <input type="text" maxlength="4" size="4" name="year"><br>
                            recording: <select name="recording">
                                <option value="1">rough</option>
                                <option value="2">demo</option>
                                <option value="3">studio</option>
                                <option value="4">live</option>
                            </select>
                            <input type="submit" value="save">
                        </form>
                        <br>
                    </div>

                {% endfor %}

            {% endif %}

            <small><a href="{{ path('imprint') }}">Impressum & Datenschutz</a></small>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        body {
            //background: #ebebeb;
            font: 14px/1.5 sans-serif;
            /*background-image: url("245981.jpg");
            background-repeat: repeat;*/
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 39px;
            font-weight: normal;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;

            //color: #4a6a81;
        }

        code.title{
            font-size: 18px;
        }

        span.infos{
            display: block;
            line-height: 11px;
            font-size: 11px;
        }

        audio {
            border-radius: 20px;
            height: 23px;
            margin-bottom: -7px;
        }

        .audiojs{
            background: none;
            background-image: none;
            width: 95%;
        }

        .audiojs .play-pause{
            width:5%;
        }

        .audiojs .scrubber{
            width: 70%;
        }

        .audiojs .time{
            width: 10%;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome{
            height: 180px;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 {
            font-size: 38px;
            font-style: italic;
        }

        #welcome h1 span {
            display: block;
            color: #000;
            font-size: 14px;
            font-style: normal;
        }

        #pic {
            float: left;
            margin-right: 1em;
            margin-top: -12px;
            width: 186px;
        }


        input{
            font-size: 14px;
        }

        input[name="pattern"]{
            width: 180px;
            height: 22px;
        }

        input[type="submit"]{
            -webkit-appearance: none;
            height: 30px;
            border: none;
        }

        input[type="button"]{
            -webkit-appearance: none;
            height: 30px;
            border: none;
        }

        select {
            border: 1px solid #111;
            background: transparent;
            padding: 5px 35px 5px 5px;
            margin: 5px 0px;
            font-size: 14px;
            border: 1px solid #ccc;
            height: 30px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }


        /* CAUTION: IE hackery ahead */


        select::-ms-expand {
            display: none; /* remove default arrow in IE 10 and 11 */
        }

        /* target Internet Explorer 9 to undo the custom arrow */
        @media screen and (min-width:0\0) {
            select {
                background:none\9;
                padding: 5px\9;
            }
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }


            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }

            blockquote{
                font-style: italic;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="/audiojs/audio.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous">
    </script>
    <script>
        audiojs.events.ready(function () {
            var as = audiojs.createAll();
        });
    </script>
    <script>
        $('input#reset').click(function(){
            $('select').each(function(){
                $(this).val(0);
            });
            $('input[name="pattern"]').val("");
        });
    </script>
{% endblock %}
